

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #0B3552;
    background: linear-gradient(90deg, rgba(11, 53, 82, 1) 0%, rgba(11, 112, 189, 1) 49%, rgba(11, 53, 82, 1) 100%);

}

.form-half{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-start: 1;
    align-content: center;
    justify-self: center; 
}
form{
    background-color: rgb(5, 5, 41);
    color:rgb(214, 225, 243);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 350px;
    border-radius: 10%;
    box-shadow: #0B3552;
    grid-row-start: 2;
}

